<div style="font-size: 0.9em;">
  <ul style="margin: 0;padding: 0;list-style-type: none;">
    <li style="display: inline-block;padding: 5px 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Roboto&quot;,&quot;Segoe UI&quot;,&quot;Helvetica Neue&quot;,&quot;Lucida Grande&quot;,Arial,sans-serif;font-size: .75em;text-transform: uppercase;max-width: 25vw;margin-right: 2em;">
      <b>Program committee</b><br>Gudrun.Wallentin[_at_]plus[_dot_]ac[_dot_]at
    </li>
    <li style="display: inline-block;padding: 5px 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Roboto&quot;,&quot;Segoe UI&quot;,&quot;Helvetica Neue&quot;,&quot;Lucida Grande&quot;,Arial,sans-serif;font-size: .75em;text-transform: uppercase;max-width: 25vw;margin-right: 2em;">
      <b>Steering committee and organizer</b><br>kevin.chapuis[_at_]ird[_dot_]fr
    </li>
    <li style="display: inline-block;padding: 5px 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Roboto&quot;,&quot;Segoe UI&quot;,&quot;Helvetica Neue&quot;,&quot;Lucida Grande&quot;,Arial,sans-serif;font-size: .75em;text-transform: uppercase;max-width: 25vw;margin-right: 2em;">
      <b>Webmaster</b><br>arthur.brugiere[_at_]ird[_dot_]fr 
    </li>
  </ul>
</div>
